html{
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #226684;
}

.category-active{
  background-color: #226684;
  color: #fff;
}

.list{
  cursor: pointer;
}

.btn-primary{
  background-color: #226684;
  border: none;
}

@media only screen and (max-height: 1000px){
  .hasil{
    height: 450px;
  }

  .menu{
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formdata{
  margin: 40px;
  font-size: 18px;
}

.itemgambar{
  width: 150px;
}



