html{
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #226684;
}

.category-active{
  background-color: #226684;
  color: #fff;
}

.list{
  cursor: pointer;
}

.btn-primary{
  background-color: #226684;
  border: none;
}

@media only screen and (max-height: 1000px){
  .hasil{
    height: 450px;
  }

  .menu{
    height: 800px;
  }
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formdata{
  margin: 40px;
  font-size: 18px;
}

.itemgambar{
  width: 150px;
}

.loading {
  margin-top: 25%;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.loading div {
  display: inline-block;
  position: absolute;
  width: 20px;
  background: #343A40;
  animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loading div:nth-child(1) {
  left: 508px;
  animation-delay: -0.24s;
}
.loading div:nth-child(2) {
  left: 532px;
  animation-delay: -0.12s;
}
.loading div:nth-child(3) {
  left: 556px;
  animation-delay: 0;
}
@keyframes loading {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@media only screen and (max-width: 568px){
  .loading {
    margin-top: 50%;
  }
  .loading div:nth-child(1) {
    left: 208px;
  }
  .loading div:nth-child(2) {
    left: 232px;
  }
  .loading div:nth-child(3) {
    left: 256px;
  }
}


